<header class="header">
    <div class="sidebar">
        <div class="sidebar-wraper">

            <div class="sidebar__logo"> 
                <img src="../static/img/logo.png" alt="" />
            </div> <!-- sidebar logo -->
            
            <div class="sidebar__menu">
                <a class="sidebar__menu__selecionado" href="#"> <i class="fas fa-home"></i> Inicio </a> 
                <a href="#"> <i class="fas fa-search"></i>Buscar</a> 
                <a href="#"><i class="fas fa-database"></i> Biblioteca </a> 
            </div> <!--sidebar menu, menu de navegação-->
        
            <div class="sidebar_menu">
                <p class="sidebar__menu__title">Playlists</p>

                <div class="sidebar__menu__item">
                    <div class="sidebar__menu__componente"></div>
                    <span>Criar Playlists</span>
                </div> <!--sidebar menu item-->
            </div> <!--sidebar menu-->
              
            
            
            <div class="sidebar__menu__item">
                    <div class="sidebar__menu__componente"></div>
                    <img src="../static/img/like.gif" height="3 0px" alt="">
                    <span>Musicas curtidas</span>
                </div> <!--sidebar menu item-->
            </div> <!--sidebar menu-->
        
        </div>

    </div> <!-- sidebar -->
        
    <script src="js/all.min.js"> </script>
</header>